<div class="col-lg-4">
    <div class="card card-chart">
        <div class="card-header">
            <h5 class="card-category">Total Wins</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> @Model.TotalWins</h3>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="card card-chart">
        <div class="card-header">
            <h5 class="card-category">Total Stakes</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> @Model.TotalStakes</h3>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="card card-chart">
        <div class="card-header">
            <h5 class="card-category">Total Users</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> @Model.TotalUsers</h3>
        </div>
    </div>
</div>